.polaroid-card {
  background: white;
  padding: 14px;
  width: 260px;
  box-shadow: 0 10px 25px rgba(0,0,0,.15);
  text-align: center;
}

.polaroid-card img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

#typing {
  font-size: 14px;
  white-space: pre-line;
}
